<div class="container center_banner" id="show-recipe-container">
  <div class="row">
    <div class="col">
      <h1><%= @cocktail.name %></h1>
      <p>Check out the recipes for <%= @cocktail.name %>:</p>
      <div>
        <h2 class="center">Ingredients & Doses:</h2>
        <ul id="list-ingridients">
          <% @cocktail.doses.each do |dose| %>
              <li><%= dose.ingredient.name %> - <%= dose.description %>
               | <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <!-- Place an image -->
    </div>
  </div>
</div>

<div class="container" id="show-btn-container">
  <div class="row">
    <div class="col">
      <%= link_to 'Add doses', new_cocktail_dose_path(@cocktail), { class: "btn-dark" } %>
      <%= link_to 'Back to Cocktails', root_path, { class: "btn-dark" } %>
    </div>
  </div>
</div>

<div class="container review-container">
  <div class="row">
    <div class="col">
      <h2>Reviews</h2>
      <% if @cocktail.reviews.empty? %>
        <p>Be the first to let a review</p>
      <% else %>
        <ul class="list-group">
          <% @cocktail.reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= render "reviews/form", cocktail: @cocktail, review: @review %>
    </div>
  </div>
</div>
